
.elements__description-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 282px;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 0 0 10px 10px;
    margin: 0px;
    padding: 0px;
  }