.popup__input {
    margin: 0 0px 30px;
    padding: 0 0 10px; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000; 
    border: none;
    max-width: 358px;
    width: 100%;
    border-bottom: 1px solid #00000020;
  }
  /*В чем тут вопрос? Последние 2 цифры (аналог opacity for rgb) указывают прозрачность в %*/


.popup__input:focus,
.popup__input:hover,
.popup__input:active {
    outline: transparent;
}