
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);


.popup__form-field {
margin: 0px;
padding: 0px;
}

.popup__input_type_error {
    border-bottom:  1px solid #FF0000;
}

.popup__form-input-error {
display: block; 
min-height: 12px;
padding: 0;
margin: 5px 0 13px;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #FF0000;
opacity: 0;
transition: opacity 0.5s linear;
}

.popup__error_visible {
opacity: 1;
transition: opacity 0.5s linear;
}

.popup__button_disabled {
background:transparent;
border: 1px solid #00000020; 
box-sizing: border-box;
border-radius: 2px;
color: #00000020;
}

.popup__button_disabled:hover {
    background:transparent;
}

.popup__button_disabled:focus {
    background:transparent;
    outline: transparent;
}
