.elements__like {
  background-image: url("../../../images/like.svg");
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
  padding: 0px;
  margin-bottom: 3px;
  border: none;
  align-items: center;
}

.elements__like:hover {
  opacity: 0.6;
}

.elements__like:focus {
  outline: transparent;
}
