.elements_like_aktive {
  background-image: url("../../../../images/like_active.svg");
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  margin-bottom: 3px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
  padding: 0px;
  border: none;
}
